html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background-color: #313131;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #222;
    color: rgb(134, 134, 134);
}

#footer a {
    color: white;
}

#content {
    padding-top: 80px;
    padding-bottom: 20px;
}
.p {
    padding: 15px;
}

.img_gallery li {
    width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}
.thumbnail {
    width: 170px;
    height: 170px;
}
.photo-frame {
    background-color: #222;
    padding-top: 20px;
    border-radius: 4px;
}
.photo_info {
    color: gray;
}
@media screen and (max-width: 400px) {
    .thumbnail {
        width: 90px;
        height: 90px;
    }
    .thumbnail img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 767px) {
    #photo, #comment_box {
        height: 500px;
    }
}

.load_more {
    width: 100%;
}

.panel-black {
    border-radius: 4px;
    background-color: #101010;
}
.comment_button {
    margin-top: 15px;
}

#comment_area {
    padding: 5px;
    width: 100%;
}
.comment_body {
    font-size: 12px;
}
.comment_time {
    font-size: 11px;
    color: gray;
}
.profile {
    border: 1px solid gray;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.scrollableComment {
    max-height: 100%;
    height: auto;
    overflow-y: scroll;
}
.web_image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}

#comment_box {
    padding-right: 0px;
    background-color: #101010;
    max-height: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    overflow-y: scroll;
}

#comment_box h4 {
    margin: 0;
    color: whitesmoke;
}

#commnet {
    max-height: 100%;
}

#content #photo {
    margin-right: 0;
    margin-left: 0;
    background-color: #222;
    border: 1px solid white;
    max-height: 500px;
}

#content #photo .col-xs-12, .col-sm-6, .col-md-8{
    height: 100%;
}

#img_box {
    padding-right: 0px;
    padding-left: 0px;
    max-height: 100%;
    max-width: 100%;
}

.back {
    position: absolute;
    top: 50%;
    height: 2em;
    margin-top: -3em;
}

.white, .white a {
  color: #fff;
}

#comment_description {
    resize: none;
    background-color: black;
    color: white;
}

#comment_description::-webkit-input-placeholder {
    color: white;
}    
#comment_description:-moz-placeholder {
    color: white;
}
#comment_description::-moz-placeholder {
    color: white;
}    
#comment_description:-ms-input-placeholder {
    color: white;
}

.comment_frame a{
    color: gray;
}

.comment_frame p{
    color: whiteSmoke;
    font-size: 12px;
}

.comment_frame {
    min-height: 270px;
    border-top: 1px solid gray;
    padding-top: 10px;
    height: 270px;
}
.comment_frame .media{
    margin-top: 5px;
}
.panel-body {
    border-radius: 0 0 4px 4px;
}

.date {
    font-size: 12px;
}

.media-object {
    background-color: white;
}
.media h3 {
    color: #999;
}
.profile_content {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 10px;
}
.panel-thumbnail {
    padding: 0;
}
.panel-thumbnail .img-responsive {
    border-radius: 4px 4px 0 0;
}

.panel-image-title {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: rgb(207, 207, 207);
    margin-bottom: 10px;
}
.panel-image .panel-body {
    background-color: #111111;
}
.banner-body {
    background-color: #222;
}
.banner-title {
    color: white;
    font-weight: bold;
}
.banner > .panel-heading {
    background-color: #222;
}
.banner > .panel-body {
    padding-bottom: 0;
}
/* */ 
.panel-uygunphoto {
    background-color: #292828;
}

.bxslider li {
    background-color: rgb(56, 56, 56);
}
.panel-uygunphoto .panel-heading {
    background-color: #222;
}
.panel-uygunphoto .panel-title {
    color: #999;
}
.panel-image-content {
    padding: 5px 5px;
}